@import "bootstrap";
@import "tablesort";

// Add hovering for inactive check boxes in the customer form
label.btn-outline-success:hover:not(.active) {
  background-color: #198754;
  color: #fff;
  border-color: #198754;
}

// Default appearance
label.btn-outline-success.active {
  background-color: #198754;
  color: #fff;
  border-color: #198754;
}

// Smooth transition 
label.btn-outline-success {
  transition: all 0.2s ease;
}